.c-startup-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.c-startup-item__status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
}

.c-startup-item--pending {
  color: #288de0;
}

.c-startup-item--inProgress {
  color: #e9e653;
}

.c-startup-item--complete {
  color: #4ade80;
}

.c-startup-item--failed {
  color: #f87171;
}
