.c-button {
  padding: 0.9rem 1rem;
  border: 0;
  border-radius: 0.75rem;
  background: #2977b6;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.c-button:disabled {
  cursor: wait;
  opacity: 0.75;
}

.c-button--text {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 0.75rem;
}

.c-button--text:hover {
  background: #999;
}
