* {
  box-sizing: border-box;
}

:root {
  --color-primary: #288de0;
  --color-secondary: #e9e653;
  --color-success: #4ade80;
  --color-error: #f87171;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  position: relative;
}

@media (orientation: landscape) {
  body {
    overflow: hidden;
  }
}

.is-center {
  text-align: center;
}
