* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
  color: #fff;
  position: relative;
}

body,
html {
  height: 100%;
  width: 100%;
}

.is-center {
  text-align: center;
}

.is-pointer {
  cursor: pointer;
}
