.c-objective {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

.c-objective:hover {
  background: #ececec;
}

.c-objective--checked > .c-objective__text {
  text-decoration: line-through;
}

.c-objective__state {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.5rem;
  flex: none;
}
