.c-objective-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  font-size: 2rem;
  height: 100%;
}

.c-objective-list__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}
