.c-objective {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}

.c-objective:hover {
  background: #999;
  color: #212121 !important;
}

.c-objective--checked > .c-objective__text {
  text-decoration: line-through;
}

.c-objective__state {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 2rem;
  flex: none;
}
