.c-objective-list {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 2rem;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.c-objective-list__group {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
  padding-right: 0.5rem;
}
