.c-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon > svg {
  width: 2rem;
  height: 2rem;
}

.c-icon--button {
  cursor: pointer;
}

.c-icon--button:hover {
  background: #999;
  color: #212121;
}
