---
import "../styles/main.css";
import App from "../components/App.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/8ddc60c8d8.js"
      crossorigin="anonymous"></script>
    <title>Lullaby dashboard</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
