.c-debug-section {
  font-family: 'consolas', monospace;
  color: #f9f9f9;
  margin: 1em;
  width: 100%;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: auto 1fr;
  margin-bottom: 3em;
}

.c-debug__items {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 3em;
}

.c-debug--yes {
  color: rgb(109, 255, 109);
}

.c-debug--no {
  color: rgb(255, 102, 102);
}
