rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /mission/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /objective/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /objectiveGroup/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /color/{documentId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
